# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
# *.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*awskeypair.pem
*awskeypair.pub

terraform.tfstate.backup
terraform.tfstate
*.terraform
*.idea

*qbnotebookkeypair.pem
*qbnotebookkeypair.pub
password.txt

# Always ignore build folder
build/

# Clangd IntelliSense cached files
.clangd/

#Python cache
*__pycache__

#Dependencies
deps/

#Generated sources
include/qristal/core/cmake_variables.hpp